<% provide(:title, 'Upload') %>
<h1>Upload</h1>
<%= form_for @document, :html => { :multipart => true } do |f| %>
	
	<%= f.label :uploaded_file %>
	<%= f.file_field :uploaded_file %>

    <%= f.submit "Upload" %>
<% end %>